@model MusicMuse.Models.Musician

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Instrument)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instrument)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LookingForBand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LookingForBand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WantToCollaborate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WantToCollaborate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
    <a asp-action="Bands" asp-route-id="@Model.Id">Find Bands</a> |
    <a asp-action="Musicians" asp-route-id="@Model.Id">Find Musicians</a> |
    <a asp-action="Musicians" asp-route-id="@Model.Id">Upload Music</a>
</div>