@model MusicMuse.Models.Event

@{
    ViewData["Title"]="Details" ;
    Layout="~/Views/Shared/_Layout.cshtml" ;
}
<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Venue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventInfo)
        </dd>
    </dl>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller="Businesses" asp-action="Index">Back to List</a>
    <a asp-controller="Events" asp-action="BandIndex" asp-route-id="@Model.Id">Find Bands</a>
</div>
